.App {
  background-color: var(--gray-1);
  color: var(--gray-8);
  height: 100vh;
}

.App-content {
  max-width: 100ch;
  padding: 2rem 1rem;
  margin: auto;
}

.App-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.App-inputs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}
